<nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    {% if DISPLAY_PAGES_ON_MENU %}
        {% for p in pages|sort(attribute='filename') %}
              {% if p.title == 'Home' %}
              <a class="mdl-navigation__link {% if page and p.title == page.title %} active{% endif %}" href="{{ SITEURL }}/">{{ p.title }}</a>
              {% else %}
              <a class="mdl-navigation__link {% if page and p.title == page.title %} active{% endif %}" href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a>
              {% endif %}
        {% endfor %}
    {% endif %}
</nav>
