<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>
        <link href="../cgetools/data/tooltip.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <h1>{{ title }}</h1>
        <p>
        {{ narrative|default('Bacon ipsum dolor amet andouille corned beef turducken sirloin pig short ribs kielbasa jowl kevin doner pastrami pork chuck. Venison salami pastrami, sirloin flank t-bone beef spare ribs shank drumstick ball tip strip steak brisket pork loin. Beef leberkas porchetta chuck, alcatra bresaola pork chop turkey ball tip jerky tenderloin brisket pig shoulder pancetta. Chuck ground round short ribs, doner tongue jerky pork loin rump andouille pastrami porchetta pork belly. Pastrami corned beef capicola, cupim sausage jowl ground round sirloin tail tri-tip meatball ham biltong. Swine jerky pig, ball tip drumstick pastrami cow ham hock salami pork chop. Pork chuck salami alcatra tongue pig pancetta, jerky ball tip bresaola.') }}
        </p>
        {{ plot_div|indent(8) }}
        <p>
        <br />
        <br />
        <br />
        </p>
        {{ bokeh_js }}
        {{ plot_script|indent(8) }}
    </body>
</html>
