html, body {
  font-family: 'Helvetica', sans-serif;
}

/* iOS Safari specific workaround */
.mdl-layout__drawer .mdl-menu__container {
  z-index: -1;
}
.mdl-layout__drawer .mdl-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */

.drawer-header {
  padding: 2em 1em 1em 1em;
}

.mdl-navigation {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.mdl-layout .mdl-navigation .mdl-navigation__link {
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}

.mdl-layout .mdl-navigation .mdl-navigation__link.active,
.mdl-layout .mdl-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.mdl-layout .mdl-navigation .mdl-navigation__link:hover {
  color: white;
}

.content {
  min-width: 450px;
  max-width: 1080px;
}

/* dl-dd-dt - used in heading text */
.mdl-components-dl {
  color: rgb(117, 117, 117);
}
.mdl-components-dt {
  font-weight: bold;
  text-transform: uppercase;
}
@media (min-width: 600px) {
  .mdl-components-dl {
    padding: 0.5em;
  }

  .mdl-components-dt {
    float: left;
    clear: left;
    width: 150px;
  }

  .mdl-components-dd {
    margin: 0 0 0 150px;
    padding: 0 0 0.5em 0;
  }
}

/* bokeh plots */

.plotdiv {
  width: 100%;
}

/*
 *
 * MAIN BOKEH SETUP
 *
 */ 
.bk-plot-wrapper table,
.bk-plot-wrapper tr,
.bk-plot-wrapper td {
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
}

.bk-canvas {
  clear: both;
  position: absolute;
}

.bk-canvas-wrapper {
  position: relative;
  float: left;
}

/*
 *
 * HOVER
 *
 */ 


/* Bokeh - plain styling */
.bk-tooltip {
  position: absolute;
  padding: 5px;
  border: 1px solid #1e4b6c;
  background-color: #1e4b6c;
  border-radius: 5px;
  pointer-events: none;
}
.bk-tooltip.bk-left::before {
  position: absolute;
  margin: -7px 0 0 0;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 0;
  border-color: transparent;
  content: " ";
  display: block;
  left: -10px;
  border-right-width: 10px;
  border-right-color: #1e4b6c;
}
.bk-tooltip.bk-right::after {
  position: absolute;
  margin: -7px 0 0 0;
  top: 50%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 0 7px 0;
  border-color: transparent;
  content: " ";
  display: block;
  right: -10px;
  border-left-width: 10px;
  border-left-color: #1e4b6c;
}
.bk-tooltip.bk-tooltip-custom.bk-left::before {
  border-right-color: black;
}
.bk-tooltip.bk-tooltip-custom.bk-right::after {
  border-left-color: black;
}
.bk-tooltip.bk-tooltip-custom {
  border-color: black;
  background-color: white;
}


/* Custom hover styling */
.bk-tooltip.bk-tooltip-custom {
    background-color: black !important;
    opacity: 0.9;
    color: white;
    font-size: 0.8em;
    padding: 0.5em 1.5em;
}

.bk-tooltip.bk-tooltip-custom:before {
    border: none !important;
}

.bk-tooltip.bk-tooltip-custom:after {
    border: none !important;
}

.tooltip-text {
    clear: both;
    float: left;
}
.tooltip-text.country {
    font-weight: bold;
}
.tooltip-text.value {
    font-size: 1.2em;
    font-weight: bold;
    color: #FFA500;
}
