<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
    <head>
        {% block head %}

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="cache-control" content="no-cache" />
        <meta name="description" content="A front-end template that helps you build fast, modern mobile web apps.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" value="{% block meta_author %}{{ AUTHOR }}{% endblock %}" />
        <meta name="description" value="{% block meta_description %}{% endblock %}" />
        <meta name="keywords" value="{% block meta_keywords %}{% endblock %}" />

        <title>{% block title %}{{ SITENAME }}{% endblock %}</title>

        <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.5/material.indigo-pink.min.css">
        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/styles.css">

        <script type="application/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.js"></script>
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.11.1.min.js"></script>
        <script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-compiler-0.11.1.min.js"></script>
        <script type="application/javascript">Bokeh.set_log_level('info'); Bokeh.custom = {};</script>

        {% endblock %}
    </head>
    <body>
        <span class="drawer-button">&#9776;</span>
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer">
          <div class="drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50">
            <header class="drawer-header">
              <p>{{ SITESUBTITLE }}</p>
            </header>
            {% include 'nav.html' %}
          </div>
          <main class="mdl-layout__content mdl-color--grey-100">
              {% block content %}{% endblock %}
          </main>
        </div>
        <script type="application/javascript" src="{{ SITEURL }}/theme/js/site.js"></script>
        {% include 'includes/ga.html' %}
    </body>
</html>
