{% extends 'base.html' %}
{% block title %}{{ SITENAME }} | {{ page.title|title }}{% endblock %}
{% block section_title %}{{ page.title }}{% endblock %}
{% block content %}        
<div class="mdl-grid demo-content">
  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    <dl class="mdl-components-dl">
            <dt class="mdl-components-dt">{{ page.title }}</dt>
            <dd class="mdl-components-dd">{{ page.subtitle }}</dd>
    </dl>
  </div>

  {# Note that viz_render method need to put its own divs in to encapsulate plot #}
  {{ page.viz_rendered }}

  <div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
    {{ page.content }}
  </div>
</div>
{% endblock %}
