{#
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid mdl-cell--12-col maps">
  <div class="mdl-color--white mdl-cell mdl-cell--6-col">
    <figcaption class="mdl-typography--caption">2030 reduction in PM<sub><small>2.5</small></sub> concentrations in 4% Policy scenario compared to No policy scenario, μg/m³</figcaption>
    <div class="plotdiv" id="{{ plot_div.pm25_map.elementid }}"></div>
  </div>

  <div class="mdl-color--white mdl-cell mdl-cell--6-col">
    <figcaption class="mdl-typography--caption">Population-weighted PM<sub><small>2.5</small></sub> concentrations in 2030 under 4% Policy scenario, μg/m³</figcaption> 
    <div class="plotdiv" id="{{ plot_div.exposure_map.elementid }}"></div>
  </div>
</div>

  <div class="content-footer">
    <p>Model projections available for mainland China only.</p>
  </div>
{{ plot_script }}
