{# 
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid mdl-cell--6-col mdl-cell--5-col-tablet maps">
  <div class="mdl-color--white mdl-cell mdl-cell--12-col">
    <figcaption class="mdl-typography--caption">2030 reduction in CO₂ in 4% scenario compared to `No policy` scenario, Mt</figcaption> 
    <div class="plotdiv" id="{{ plot_div.co2_map.elementid }}"></div>
  </div>
</div>

<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-grid mdl-cell--6-col mdl-cell--5-col-tablet maps">
  <div class="mdl-color--white mdl-cell mdl-cell--12-col">
    <figcaption class="mdl-typography--caption">Share of coal production in provincial GDP in 2010, %</figcaption> 
    <div class="plotdiv" id="{{ plot_div.col_map.elementid }}"></div>
  </div>
</div>

  <div class="content-footer">
    <p>Model projections available for mainland China only.</p>
  </div>
{{ plot_script }}
