{# 
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--7-col mdl-grid">
  <div class="plotwrap">
    <div class="plottitle">{{ plot_title|default("CO₂ emissions by province") }}</div>
    <div class="plotdiv" id="{{ plot_div.plot.elementid }}"></div>
  </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--5-col mdl-grid">
  <div class="plotdiv" id="{{ plot_div.province_map.elementid }}"></div>
  <div class="plotdiv" id="{{ plot_div.region_map.elementid }}"></div>
</div>

{{ plot_script }}
