{# 
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <h4 class="mdl-cell mdl-cell--12-col">Standard</h4>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">CO₂ emissions</div>
      <div class="plotdiv" id="{{ plot_div.co2.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">PM2.5 concentrations</div>
      <div class="plotdiv" id="{{ plot_div.pm25.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">% non-fossil energy</div>
      <div class="plotdiv" id="{{ plot_div.nonfossil.elementid }}"></div>
    </div>
  </div>
</div>
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <h4 class="mdl-cell mdl-cell--12-col">Slower economic growth</h4>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">CO₂ emissions)</div>
      <div class="plotdiv" id="{{ plot_div.co2_lo.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">PM2.5 concentrations</div>
      <div class="plotdiv" id="{{ plot_div.pm25_lo.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">% non-fossil energy</div>
      <div class="plotdiv" id="{{ plot_div.nonfossil_lo.elementid }}"></div>
    </div>
  </div>
</div>

{{ plot_script }}

