{# 
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title mdl-card--expand mdl-color--teal-300">
      <h4 class="mdl-card__title-text">3%</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div class="plotdiv" id="{{ plot_div.three.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title mdl-card--expand mdl-color--deep_orange-300">
      <h4 class="mdl-card__title-text">4%</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div class="plotdiv" id="{{ plot_div.four.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="mdl-card__title mdl-card--expand mdl-color--purple-300">
      <h4 class="mdl-card__title-text">5%</h4>
    </div>
    <div class="mdl-card__supporting-text mdl-color-text--grey-600">
      <div class="plotdiv" id="{{ plot_div.five.elementid }}"></div>
    </div>
</div>

{{ plot_script }}
