{# 
  This template expects:
#}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">CO₂ emissions, Mt</div>
      <div class="plotdiv" id="{{ plot_div.co2.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">Population-weighted PM<sub><small>2.5</small></sub> concentrations, μg/m³</div>
      <div class="plotdiv" id="{{ plot_div.pm25.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--4-col">
    <div class="plotwrap">
      <div class="plottitle">Share of non-fossil sources in primary energy, % *</div>
      <div class="plotdiv" id="{{ plot_div.nonfossil.elementid }}"></div>
    </div>
  </div>
  <div class="mdl-color--white mdl-cell mdl-cell--12-col horizontal">
    {% set economic_scenarios=True %}
    {% include 'viz/_scenario_selectors.html' %}
  </div>
</div>
<div class="content-footer">
  <p>* Modeling scenarios are given by China's 2030 pledges and in some cases do not automatically meet China's earlier pledges, such as the non-fossil primary energy target of 15% by 2020 made in Copenhagen.</p>
</div>

<div class="hidden" id="{{ plot_div.text.elementid }}"></div>
{{ plot_script }}
