{# The checkbox block #}
<div class="mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--2-col mdl-grid">
    <div class="mdl-card__supporting-text">
        <form onchange="Bokeh.custom.form_change(this)">
            <label for="chk_three" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="chk_three" class="mdl-checkbox__input" />
                <span class="mdl-checkbox__label">3%</span>
            </label>
            <label for="chk_four" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="chk_four" class="mdl-checkbox__input" checked />
                <span class="mdl-checkbox__label">4%</span>
            </label>
            <label for="chk_five" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="chk_five" class="mdl-checkbox__input" />
                <span class="mdl-checkbox__label">5%</span>
            </label>
            <label for="chk_bau" class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect">
                <input type="checkbox" id="chk_bau" class="mdl-checkbox__input" />
                <span class="mdl-checkbox__label">BAU</span>
            </label>
        </form>
    </div>
</div>
